@import "_variables.scss";
@import "_mixins.scss";

h1:before {
    content: attr(data-text);
    color: $secondary-font-color;
  }
  
  .base-h1 {
      font-size: 1.7em;
      text-align: center;
      font-weight: 500;
      color: $primary-font-color;
      padding: 2%;
      margin-top: 10px;
  }
  
.danger{
    color: $danger;
}