@import "_variables.scss";
@import "_mixins.scss";

h5:before {
  content: attr(data-text);
  color: $secondary-font-color;
}

.base-h5 {
    font-size: 1.1em;
    font-weight: bold;
    color: $text-font-color;
    padding: 2%;
}

.dark {
  color: $text-font-color;
}
