@import "_variables.scss";
@import "_mixins.scss";

h4:before {
  content: attr(data-text);
  color: $text-font-color;
}

.base-h4 {
    font-size: 1.5em;
    text-align: left;
    font-weight: bold;
    color: $text-font-color;
    padding: 2%;
}

.dark {
  color: $text-font-color;
}
.color{
  color: $secondary-font-color;
}
