@import "_variables.scss";
@import "_mixins.scss";

.newsletter-block{
    width: 100%;
    background-color: $tertiary-background-color;
    padding: 20px;
    @include flex-center-column;
    .newsletter-heading{
        font-size: $heading-font-size;
        font-weight: bold;
        font-family: $primary-font-family;
        color: $text-font-color;
    }
    .newsletter-text{
        font-size: $text-font-size;
        font-family: $primary-font-family;
        color: $text-font-color;
    }
    .newsletter-form{
      
        margin-top: 10px;
        width: 80%;
        form{

            .mailchimp-wrapper{
                display: grid;
                justify-items: center;
            }

           .brandingLogo{
               margin: 0 !important; 
            
               width: 100%;
               display: grid;
               justify-items: center;
                
           }
            .input-wrapper{
                display: grid;
                grid-template-columns: 1fr 0px 90px;
                margin: 5px 0;
                box-sizing: border-box;

                .mc-field-group input{
                    width: 100%;
                }
            }
            
           

            .base-button{
                box-sizing: border-box;
                width: 90px;
                margin-left: 0;
                border-radius: 0 3px 3px 0;
            }
        }
    }

}

.tabletNewsletter{
    
    .newsletter-form{
      
        width: 80%;
        
    }

}

.pcNewsletter{
    
    .newsletter-form{
      
        width: 60%;
        form{

            .mailchimp-wrapper{
                display: grid;
                justify-items: center;
            }

        }
    }

}