@import "_variables.scss";

*{
    margin: 0;
    padding: 0; 
    text-decoration: none;
    box-sizing: border-box;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: $primary-font-family;

}

#app{
    background-color: $darker-primary-background-color;
}
