@import "_variables.scss";
@import "_mixins.scss";

.some-block {
  background-image: url("assets/img/spec-lady.png");
  display: grid;
  background-size: cover;
  justify-items: center; // amal1698

  .frame {
    // overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    width: 75%;
  }

  .frame::after {
    padding-top: 56.25%;
    display: block;
    content: "";
  }

  .frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 750px) {
  .some-block {
    .frame {
      width: 50%;
    }
  }
}
