// background-color Variables
$primary-background-color: #343233;
$secondary-background-color: #2c2a2b;
$tertiary-background-color: #ffc35a;
$footor-background-color: #659cc8;
$header-background-color: #3d3a3a;
$darker-primary-background-color: #363638;


// Fonts-color Variables
$primary-font-color: #efdab9;
$secondary-font-color: #ebac00;
$tertiary-font-color: #78b0a0;
$text-font-color: #2c2a2b;


// Fonts size and family Variables
$text-font-size: 16px;
$heading-font-size: 24px;
$primary-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$secondary-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// CTA
$CTA-primary-bgcolor: #343233;
$CTA-secondary-bgcolor: #ebac00;
$danger: #c13f21;